<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wholm_000.hogskoleprovetbootcamp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HSP 2.0"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".startScreen"
            android:label="Högskoleprovet 2.0"
            android:theme="@style/noAnimTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".kvantitativDel"
            android:label="Högskoleprovet 2.0"
            android:theme="@style/noAnimTheme"
            />
        <activity android:name=".secondQuestionScreen"
            android:label="Högskoleprovet 2.0"
            android:theme="@style/noAnimTheme"
            />
        <activity android:name=".firstQuestionScreen"
            android:label="Högskoleprovet 2.0"
            android:theme="@style/noAnimTheme"
            />
        <activity android:name=".notes"
            android:label="Anteckningar"
            android:theme="@style/noAnimTheme"
            />
        <activity android:name=".aboutQuestion"
            android:label="Om Frågan"
            android:theme="@style/noAnimTheme"/>

    </application>

</manifest>
